[submodule "optimism/lib/openzeppelin-contracts"]
	path = optimism/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "optimism/lib/openzeppelin-contracts-upgradeable"]
	path = optimism/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "optimism/lib/conditional-tokens-contracts"]
	path = optimism/lib/conditional-tokens-contracts
	url = https://github.com/gnosis/conditional-tokens-contracts
[submodule "optimism/lib/protocol"]
	path = optimism/lib/protocol
	url = https://github.com/UMAprotocol/protocol
